div.relative > .pointer-events-none {
    display: none;
}
form div small {
  width: 100%;
  text-align: right;
  display: block;
  color: var(--colour-1);
}

.generator-infos { display: flex; flex-direction: row; padding: 1em; border-radius: 1em;}
.generator-info { display: flex; flex: 1}
.generator-name { font-weight: 600;}

a.generator-infos:hover {
  background-color: rgba(255,255,0,0.5);

  /*
  background: rgb(255,114,91,0.5);
  background: -moz-linear-gradient(90deg, rgba(255,114,91,0.5) 0%, rgba(255,255,121,0.5) 24%, rgba(111,255,115,0.5) 50%, rgba(67,145,162,0.5) 76%, rgba(177,242,255,0.5) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,114,91,0.5) 0%, rgba(255,255,121,0.5) 24%, rgba(111,255,115,0.5) 50%, rgba(67,145,162,0.5) 76%, rgba(177,242,255,0.5) 100%);
  background: linear-gradient(90deg, rgba(255,114,91,0.5) 0%, rgba(255,255,121,0.5) 24%, rgba(111,255,115,0.5) 50%, rgba(67,145,162,0.5) 76%, rgba(177,242,255,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff725b",endColorstr="#b1f2ff",GradientType=1);     
  box-shadow: rgb(38, 57, 77) 0px 15px 20px -7px;
  */
  color: black ;
  backdrop-filter: brightness(200%);
}
