div.relative > .pointer-events-none {
    display: none;
}
div.form {
  margin-top: 4em;
  margin-bottom: 4em;
}
.soundpanel div.form {
  margin: 0;
}
form div small {
  width: 100%;
  text-align: right;
  display: block;
  color: var(--colour-1);
}

.source-infos { display: flex; flex-direction: row; padding: 1em; border-radius: 1em; max-width: 70%;
  margin: auto;
}
.source-info { display: flex; flex: 1}
.source-name { font-weight: 600;}

.soundpanels {
  display: flex;
  flex-direction: row;
}
.soundpanel {
  flex: 1;
}
.soundpanel.left {
  display: flex;
  flex-direction: row;
}

.soundpanel.left .soundpanel-assist {
  flex: 1
}
ul.categories li {
  padding: .1em ;
  font-size: 17px;
}
ul.categories li a {
  cursor: pointer;
  padding: .15em .3em;
  border-radius: .2em;
}
ul.categories li a:hover {
  background-color: #444;
  color: white;
}

.soundcontrols {
  display: flex;
  flex-direction: row;
}
.soundcontrol {
  display: flex;
  flex: 1;
}
.soundcontrol.audio {
  flex: 20;
}
.soundcontrol.reverse {
  flex-direction: row-reverse;
}
.soundcontrol i.fa-solid {
  font-size: 40px;
  cursor: pointer;
}

.form-button.soundtone {
  background-color: rgb(80, 76, 76) ;
  color: white;
  font-weight: 800;
  /*margin-top: 1em;*/
}
 
a.source-infos:hover {
  background-color: rgba(255,255,0,0.5);

  /*
  background: rgb(255,114,91,0.5);
  background: -moz-linear-gradient(90deg, rgba(255,114,91,0.5) 0%, rgba(255,255,121,0.5) 24%, rgba(111,255,115,0.5) 50%, rgba(67,145,162,0.5) 76%, rgba(177,242,255,0.5) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,114,91,0.5) 0%, rgba(255,255,121,0.5) 24%, rgba(111,255,115,0.5) 50%, rgba(67,145,162,0.5) 76%, rgba(177,242,255,0.5) 100%);
  background: linear-gradient(90deg, rgba(255,114,91,0.5) 0%, rgba(255,255,121,0.5) 24%, rgba(111,255,115,0.5) 50%, rgba(67,145,162,0.5) 76%, rgba(177,242,255,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff725b",endColorstr="#b1f2ff",GradientType=1);     
  box-shadow: rgb(38, 57, 77) 0px 15px 20px -7px;
  */
  color: black ;
  backdrop-filter: brightness(200%);
}

audio {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 1em;
}

.midi_editable_input {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  width: 3em;
}
.midi_editable_input:focus {
  background: white;
  outline: unset ;
  border: unset;
  cursor: unset;
  box-shadow: none;
}

#midiPattern {
  margin-right: 2em;
}

@keyframes beat {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.beat {
  animation: beat 0.4s;  
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.form textarea {
  height: 8em;
}

#id_tags {
  height: 4em;
}