/*
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*/

@layer base {
  :root {
    /* For rgb(255 115 179 / <alpha-value>) */
    --color-primary: 255 114 91 ;
    --color-secondary: 177 242 255;

    --colour-1: grey ;
    --colour-2: rgb(36, 35, 32) ;
    --colour-3: rgb(80, 76, 76) ;
  }
}

:root {
  --font-1: 'Segoe UI Regular', 'Inter', sans-serif;
  --section-gap: 4px;
  --border-radius-1: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: var(--font-1);
}

html,
body {
  scroll-behavior: smooth;
  /*overflow: hidden;*/
}

html {font-family: var(--font-1);
  /*font-size:13px*/
  /*font-size: 18px; */
}

body {
  /*padding: var(--section-gap);*/
  background: var(--colour-1);
  color: var(--colour-3);
  /*min-height: 100vh; */
}

a {
  text-decoration: none ;
  color: white;
}

.centered {
  margin: auto;
}

#topheader {
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  background: rgb(255,114,91);
  background: -moz-linear-gradient(90deg, rgba(255,114,91,1) 0%, rgba(255,255,121,1) 24%, rgba(111,255,115,1) 50%, rgba(67,145,162,1) 76%, rgba(177,242,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,114,91,1) 0%, rgba(255,255,121,1) 24%, rgba(111,255,115,1) 50%, rgba(67,145,162,1) 76%, rgba(177,242,255,1) 100%);
  background: linear-gradient(90deg, rgba(255,114,91,1) 0%, rgba(255,255,121,1) 24%, rgba(111,255,115,1) 50%, rgba(67,145,162,1) 76%, rgba(177,242,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff725b",endColorstr="#b1f2ff",GradientType=1);     
  z-index: 2;

  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  /*box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;*/
}

#topheader .logo-text , #topheader img {
  margin: 0 ;
}
.logo-text {
  color:    #444; /* #006bb9;*/
  font-weight: 400;
  padding: .4em .4em .4em 0.2em;
  border-radius: 0 7px 7px 0;
  backdrop-filter: brightness(110%);
}
.nav-submenu a {
  color: var(--colour-3);
}
nav {
  display: flex;
  /*align-items: flex-end;
  justify-content:flex-end;*/
  flex-direction: row;
  align-items: center;

}
nav a , nav button{
  color: var(--colour-2);
}
nav a.focussed:hover , nav a.focussed {
  color: var(--colour-3);
  backdrop-filter: blur(200px);
  background-color: rgba(255,255,255,.7);
}
nav a:hover {
  backdrop-filter: blur(200px);
  background-color: rgba(255,255,255,.2);

}
.dark nav {
  background-color: rgb(17 24 39);
}
.burgermenu i {
  font-size: 18px;
  padding: 20px;
  cursor: pointer;
}
.burgermenu:hover {
  background-color: rgba(255,255,255,.2);/*#004578;*/
}
#topheader nav .loginlogout {
  width: fit-content;
  align-self: flex-end;
  margin-left: auto ;
  padding: 12px;
}

.with-background {
  background-color: rgba(255,255,255,0.4);
}

.dark .with-background {
  background-color: rgba(0,0,0,0.4);
}


.burgermenu i {
  justify-content: center;
  align-items: center;
  transition: 0.33s;
}

.rotated {
  transform: rotate(360deg);
}



.login-portal-image {
  width: 10em;
  margin-bottom: 2em;
}
.dark .login-portal-image {
  filter: brightness(10000%);
}

.login-portal-image-with-menu {
  max-height: 1.7em;
}

.login-portal-image-with-menu {
    filter: brightness(10000%);
}

.portal-header-name {
  display: inline;
  margin-left: 1em;
}


@media screen and (max-width: 990px) {
  
.portal-header-name {
  display: none
}
}

@media screen and (max-width: 600px) {
  
  .login-portal-image-with-menu {
    display: none
  }
}

#mainsection {
  display: flex;
  min-height: 95vh;

  background: rgb(255,244,242);
  background: -moz-linear-gradient(90deg, rgba(255,244,242,1) 0%, rgba(255,255,231,1) 24%, rgba(239,255,239,1) 50%, rgba(241,252,255,1) 76%, rgba(241,253,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,244,242,1) 0%, rgba(255,255,231,1) 24%, rgba(239,255,239,1) 50%, rgba(241,252,255,1) 76%, rgba(241,253,255,1) 100%);
  background: linear-gradient(90deg, rgba(255,244,242,1) 0%, rgba(255,255,231,1) 24%, rgba(239,255,239,1) 50%, rgba(241,252,255,1) 76%, rgba(241,253,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff4f2",endColorstr="#f1fdff",GradientType=1);     
}

#centersection {
  margin: auto ;
  width: 80vw;
  backdrop-filter: blur(200px);
}

#centercontent {
  max-width: 50%;
  margin: auto;
}

.form-button  {
  background-color: #006bb9!important; 
  color: white!important ;
}

div.form {
  margin-top: 4em;
  margin-bottom: 4em;
}