{% extends "base_logged.html" %}
{% load static i18n sounds %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/sound.css' %}">
{% endblock %}

{% block javascript_start %}

{% if sources is None %}
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/speech-commands@0.5.4/dist/speech-commands.min.js"></script>
{% endif %}

{% endblock %}

{% block content %}

{% if sources is None %}

<div id="soundtone_interface">
    <img id="soundtone_capture" src=""/>
</div>

<div class="soundpanels">

<div class="soundpanel left mt-5">
    <div class="soundpanel-assist">
        <h2 class="text-lg font-bold mb-2">Categories</h2>
        <ul class="categories">
        {% for catval,category in form.fields.category.choices %}
            <li><a tabindex="{% tab_index %}" onclick="selectCategory('{{catval}}')">{{ category }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="soundpanel-assist">
        <h2 class="text-lg font-bold mb-2">Tags</h2>
    </div>
</div>

<div class="soundpanel right mt-5">

<h2 class="text-lg font-bold text-center mb-2">{{source.name}}:<span id="sound_name"></span><i id="capture_view_icon" class="fa fa-picture-o"></i></h2>

{% include 'sounds/widgets/soundtone_ctrl.html' %}

<div id="soundtone_content">
    {% include 'sounds/widgets/soundtone.html' %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", (event) => {
    onSoundControlLoaded();
    onSoundToneLoaded();
})
</script>

</div>

</div><!--soundpanels-->

{% else %}

<h2 class="text-xl my-5 font-bold">Please choose a source</h2>

{% for source in sources %}
    {% include 'sounds/widgets/source.html' with source=source for_selection=True %}
{% endfor %}

{% endif  %}

{% endblock %}