{% extends "base_logged.html" %}
{% load static i18n random %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/sound.css' %}">
{% endblock %}

{% block javascript_start %}
{% endblock %}

{% block content %}

{% if generators %}

<h2 class="text-xl my-5 font-bold">Please choose a generator</h2>

{% for generator in generators %}
    {% include 'sounds/widgets/generator.html' with generator=generator for_selection=True %}
{% endfor %}

{% else %}

<h2 class="text-xl my-5 font-bold">Sounds for generator {{generator.name}}</h2>

<audio autoplay loop controls src="{% url 'sounds:render_sound' generatorid=generator.id %}?b={{bank}}&p={{program}}&r={% random_uuid %}"/>

{% endif  %}


{% endblock %}