{% load static %}
  <div id="topheader" class="m-0 p-0">
    <!--<nav class="border-gray-200 dark:bg-gray-900">-->
    <nav class="border-gray-200">
      <div class="burgermenu dark:text-white">
          <i class="fa fa-bars"></i>
      </div>
      <a class="flex m-0 lm-2" href="{% url 'sounds:sounds' %}">
        <img class="inline" src="{% static 'images/favicons/favicon-32x32.png' %}"/>
        <div class="inline logo-text leckerli-one-regular">elemann</div>
      </a>
      <div class="portal-header-name dark:text-white"></div>


      <!--https://tailwindcomponents.com/component/responsive-navbar-with-dropdown-->
      <script>

          function focusClass(url_refs) {
            const { host, hostname, href, origin, pathname, port, protocol, search } = window.location
            //infocus = url_refs.includes(pathname)
            infocus = false
            for(url_ref of url_refs) {
              if(pathname.startsWith(url_ref)) {
                infocus = true ;
                break ;
              }
            }
            if(infocus)
              return 'focussed'
            else
              return 'not-focussed'
          }

      </script>
      <nav :class="{'flex': open, 'hidden': !open}" class="flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row">
        <a :class="focusClass(['{% url 'sounds:generators' %}','{% url 'sounds:generator_new' %}'])" class="px-4 py-2 mt-2 rounded-lg md:mt-0 focus:outline-none focus:shadow-outline" href="{% url 'sounds:generators' %}">Generators</a>
        <a :class="focusClass(['{% url 'sounds:sounds' %}'])" class="px-4 py-2 mt-2 rounded-lg md:mt-0 md:ml-4 focus:outline-none focus:shadow-outline" href="{% url 'sounds:sounds' %}">Sounds</a>
        <div @click.away="open = false" class="relative" x-data="{ open: false }">
          <button @click="open = !open" class="flex flex-row items-center w-full px-4 py-2 mt-2 text-left rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 focus:outline-none focus:shadow-outline">
            <span>More</span>
            <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </button>
          <div style="display:none" x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48">
            <div class="nav-submenu px-2 py-2 bg-white rounded-md shadow dark:bg-gray-800">
              <a class="block px-4 py-2 mt-2 bg-transparent rounded-lg dark:bg-transparent dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 focus:text-gray-900 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Help</a>
              <a class="block px-4 py-2 mt-2 bg-transparent rounded-lg dark:bg-transparent dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 focus:text-gray-900 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">About</a>
              <!--<a class="block px-4 py-2 mt-2 bg-transparent rounded-lg dark:bg-transparent dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Link #3</a>-->
            </div>
          </div>
        </div>    
      </nav>
      <div class="loginlogout max-w-screen-xl flex flex-wrap dark:text-white">
      </div>
    </nav>
</div>