{% load static i18n crispy_forms_tags random sounds %}
<h2 class="text-lg mb-2 text-center">

  <div id="arp-ctrl">
  <label class="inline-flex items-center cursor-pointer">
    <input type="checkbox" value="" class="sr-only peer">
    <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
    <span class="ms-3 font-medium text-gray-900 dark:text-gray-300">ARP</span>
  </label>
</div>

  <select id="midiPattern" name="midiPattern" onchange="resetBlobs();fetchSound(0,false);" tabindex="{% tab_index %}">
      {% for ptn in patterns %}
      <option value="{{ptn.0}}" {% if ptn.0 == pattern %}selected{% endif %}>{{ptn.1}}</option>
      {% endfor %}
  </select>
  Bank: <input id="bank_msb" class="midi_editable_input text-lg" value="{{ bank_msb }}" tabindex="{% tab_index %}"/>
  {% if source.midi_bank_use_lsb %}:<input id="bank_lsb" class="midi_editable_input text-lg" value="{{ bank_lsb }}" tabindex="{% tab_index %}"/>{% endif %}
  Program: <input id="program" class="midi_editable_input text-lg" value="{{ program }}" tabindex="{% tab_index %}"/>
</h2>
<div class="form soundtone">
  <form method="post" id="soundtone_form">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-buttons">
    <button type="submit" class="form-button soundtone flex px-4 py-2 rounded-lg md:mt-0 focus:outline-none focus:shadow-outline">Save</button>
    </div>
  </form>
</div>
<script type="text/javascript">
  bank_msb = {{bank_msb}};
  bank_lsb = {{bank_lsb}};
  program = {{program}};
  category = {% if category %}"{{category}}"{% else %}null{% endif %};
  TAG_SEARCH_URL = "{% url 'tags:search' %}";
</script>  