{% load static i18n crispy_forms_tags random sounds %}
<h2 class="text-lg mb-2 text-center">
  <select id="midiPattern" name="midiPattern" onchange="resetBlobs();fetchSound(0,false);" tabindex="{% tab_index %}">
      {% for ptn in patterns %}
      <option value="{{ptn.0}}" {% if ptn.0 == pattern %}selected{% endif %}>{{ptn.1}}</option>
      {% endfor %}
  </select>
  Bank: <input id="bank_msb" class="midi_editable_input text-lg" value="{{ bank_msb }}" tabindex="{% tab_index %}"/>
  {% if source.midi_bank_use_lsb %}:<input id="bank_lsb" class="midi_editable_input text-lg" value="{{ bank_lsb }}" tabindex="{% tab_index %}"/>{% endif %}
  Program: <input id="program" class="midi_editable_input text-lg" value="{{ program }}" tabindex="{% tab_index %}"/>
</h2>
<div class="form">
  <form method="post" id="soundtone_form">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-buttons">
    <button type="submit" class="form-button soundtone flex px-4 py-2 rounded-lg md:mt-0 focus:outline-none focus:shadow-outline">Save</button>
    </div>
  </form>
</div>
<script type="text/javascript">
  var bank_msb = {{bank_msb}};
  var bank_lsb = {{bank_lsb}};
  var program = {{program}};
  var category = {% if category %}"{{category}}"{% else %}null{% endif %};
  var TAG_SEARCH_URL = "{% url 'tags:search' %}";
</script>  